<h1> Welcome to the omnicalculator </h1>

<ul>
  <li><a href="/square/new">Square a number</a></li>
  <li><a href="/square_root/new">Calculate square root</a></li>
  <li><a href="/random/new">Generate random number</a></li>
  <li><a href="/payment/new">Calculate monthly payment</a></li>
</ul>
