<h1>Your monthly payment given an annual percentage rate of <%= @apr_formatted%>, a present value of <%= @pv_formatted %>, and with <%= @years %> years remaining is <%= @output %></h1>

<p><a href="/">Go back home</a><p>
