<h1>Calculate your monthly payment</h1>

<form action="/payment/result">
  <label for="annual_rating">Annual Percentage Rating (APR) </label>
  <input id="annual_rating" name="apr">
  <label for="years_left">Number of years remaining </label>
  <input id="years_left" name="years">
  <label for="principal">Principal (present) Value (in dollars) </label>
  <input id="principal" name="pv">
  <button>Calculate monthly payment</button>
</form>
