<h1>Generate a random number</h1>

<form action="/random/result">
  <label for="minimum">Minimum value</label>
  <input id="minimum" name="min">
  <label for="maximum">Maximum value</label>
  <input id="maximum" name="max">
  <button>Pick random number</button>
</form>
